@use '../abstracts/' as a;

.tracker-card {
    border-radius: a.rem(15);
    padding-top: a.rem(36);

    @include a.add-flex(column, flex-end);

    overflow: hidden;
    position: relative;
    z-index: -1;

    &__category-image {
        position: absolute;
        top: -(a.rem(12));
        right: a.rem(12);
        z-index: 0;
    }

    &-work {
        background: linear-gradient(a.$work-background 0%, a.$work-background a.rem(50), transparent a.rem(50), transparent 100%);
    }

    &-play {
        background: linear-gradient(a.$play-background 0%, a.$play-background a.rem(50), transparent a.rem(50), transparent 100%);
    }

    &-study {
        background: linear-gradient(a.$study-background 0%, a.$study-background a.rem(50), transparent a.rem(50), transparent 100%);
    }

    &-exercise {
        background: linear-gradient(a.$exercise-background 0%, a.$exercise-background a.rem(50), transparent a.rem(50), transparent 100%);
    }

    &-social {
        background: linear-gradient(a.$social-background 0%, a.$social-background a.rem(50), transparent a.rem(50), transparent 100%);
    }

    &-self-care {
        background: linear-gradient(a.$self-care-background 0%, a.$self-care-background a.rem(50), transparent a.rem(50), transparent 100%);
    }

    &__body {

        transform: scaleX(1);

        position: relative;
        z-index: 1;

        padding: a.rem(28) a.rem(24);
        border-radius: a.rem(15);
        @include a.add-flex(column, $gap: a.rem(6));

        background-color: a.$card-background;

        &:hover {
            cursor: pointer;
            background-color: lighten(a.$card-background, 10%);
        }

    }

    &__body-header {
        @include a.add-flex($justify-content: space-between, $align-items: center);
    }

    &__body-main {
        @include a.add-flex(row, $justify-content: space-between, $align-items: center);

        @media all and (min-width: 768px) {
            @include a.add-flex(column);
        }

    }
}