@use '../abstracts/' as a;

.user-stats-component__user-profile {

    border-radius: a.rem(15);
    background-color: a.$card-background;
    overflow: hidden;
 
    &__user {
        padding: a.rem(36) a.rem(32);
        background-color: a.$profile-background;
        border-radius: a.rem(15);

        @include a.add-flex($justify-content: center, $align-items: center, $gap: a.rem(24));

        img {
            width: clamp(a.rem(64), a.rem(42) + 5.8vw, a.rem(78));
            height: auto;
            border: 3px solid white;
            border-radius: 50%;
        }

        @media all and (min-width: 1050px) {
            @include a.add-flex(column, $gap: a.rem(42));
        }
    }

    &__selector {
        padding: a.rem(24) a.rem(32);
        color: a.$list-item-color;

        @include a.add-flex($justify-content: center, $gap: a.rem(24));

        li:hover {
            cursor: pointer;
            color: white;
        }

        &--active {
            color: white;
        }

        @media all and (min-width: 1050px) {
            @include a.add-flex(column, $gap: a.rem(16));
        }
    }

}