@use "../abstracts/" as a;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

.text-preset-1 {
    font-weight: 300;
    font-size: clamp(a.rem(24), a.rem(16) + 2vw ,a.rem(40));
    font-family: 'Rubik', serif;
}

.text-preset-2 {
    font-weight: 300;
    font-size: clamp(a.rem(32), a.rem(16) + 4vw , a.rem(56));
    font-family: 'Rubik', sans-serif;
}

.text-preset-3 {
    font: 400 a.rem(18)/1.5 'Rubik';
}

.text-preset-4 {
    font: 400 a.rem(15)/1.5 'Rubik';
    color: a.$text-preset-4-color;
}

.text-preset-5 {
    font: 500 a.rem(18)/1.5 'Rubik';
}