$primary-background: #0E1323;

$card-background: #1C204B;

$profile-background: #5747EA;

$work-background: #FF8B64;
$play-background: #55C2E6;
$study-background: #FF5E7D;
$exercise-background: #4BCF82;
$social-background: #7335D2;
$self-care-background: #F1C75B;

